  <ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="pH" icon-on="ion-erlenmeyer-flask" icon-off="ion-erlenmeyer-flask" href="#/tab/instantpH">
        <ion-nav-view name="instantpH-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Température" icon-on="ion-thermometer" icon-off="ion-thermometer" href="#/tab/instantTemperature">
        <ion-nav-view name="instantTemperature-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Graphique" icon-on="ion-arrow-graph-up-right" icon-off="ion-arrow-graph-up-right" href="#/tab/graphics">
        <ion-nav-view name="graphics-tab"></ion-nav-view>
    </ion-tab>
  </ion-tabs>